*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
*.log
.navigation/
captures/
*.iml
.idea/
*.jks
*.keystore
google-services.json
.externalNativeBuild
.cxx/
vcs.xml
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
app/google-services.json
/app/src/main/res/values/google_maps_api.xml